<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title><%= htmlWebpackPlugin.options.title %></title>
  </head>
  <body>
    <header>
      <navbar-element brandName="<%= brandName %>"></navbar-element>
    </header>

    <main class="container mt-8">
      <h5 class="text-center">Edit Ceritamu</h5>
      <form id="edit-story-form" class="needs-validation" novalidate>
        <div class="mb-3">
          <label for="validationCustomStory" class="form-label d-none">Ceritamu</label>
          <textarea-with-validation
            inputId="validationCustomStory"
            invalidFeedbackMessage="Cerita tidak boleh kosong"
            required
          ></textarea-with-validation>
        </div>

        <div class="mb-3">
          <label for="validationCustomEvidence" class="form-label">Upload foto</label>
          <input-image-with-preview
            id="inputImagePreviewEdit"
            inputId="validationCustomEvidence"
            invalidFeedbackMessage="Wajib mengganti photo"
          ></input-image-with-preview>
        </div>
        <div class="d-flex justify-content-center">
          <button type="submit" class="btn btn-primary">Bagikan cerita</button>
        </div>
      </form>
    </main>

    <footer class="container py-5">
      <footer-element></footer-element>
    </footer>
  </body>
</html>
